name: Build Release

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build-dist:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: "latest"

      - name: Install dependencies
        run: bun i

      - name: Install TypeScript compiler
        run: bun i --global typescript

      - name: Build
        run: tsc -p tsconfig.build.json

      - name: Update GitHub release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: dist
          name: "Latest build"
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload release assets
        uses: softprops/action-gh-release@v2
        with:
          files: dist/**/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}